/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(136, 203, 171);
    background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* Typeography General*/

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 5em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 1em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 2em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}


/* ---- Layout Rules ---- */

main {
    margin: 10vh 0em 10vh 0em;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
    height: 100%;
    width: auto;
}


/* ---- Module Rules ---- */


/* Navigation Styles*/

.brand:visited {
    color: white;
}

.menu_link.active {
    background: #555555;
}

#brand,
.brand {
    background: rgba(25, 51, 39, 0.9);
    font-weight: bolder;
    font-size: 4rem;
    text-decoration: none;
    color: white;
    padding: 0em 0em 0em 0.5em;
    margin: 0;
}

.navbar__toggler {
    background: rgba(25, 51, 39, 0.9);
    border: none;
}

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    background: rgba(25, 51, 39, 0.9);
}

#navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    list-style-type: none;
}


/* Link style */

#navbar__list a {
    text-decoration: none;
    margin-right: 0.4em;
    font-size: 0.9em;
}

#navbar__list a:hover {
    color: #cc1;
    transition: ease 0.3s all;
}

.menu_link a:visited {
    color: red;
}


/* Header Styles */

.page__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}


/* Footer Styles */

.page__footer {
    background: rgb(25, 51, 39);
    padding: 3em;
    color: #fff;
}

.page__footer p {
    color: #fff;
    text-align: center;
}


/* using css pseudo-class to add a source Link to section 1 data */

.puffer-source::after {
    content: "Read more at: https://kids.nationalgeographic.com/animals/fish/pufferfish/";
    font-size: 0.7em;
}


/* ---- Theme Rules ---- */


/* Landing Container Styles */

.landing__container {
    padding: 1em;
    text-align: left;
}

.landing__container li {
    list-style-type: none;
}

.image-src,
.source {
    font-size: 0.6em;
    color: azure;
    display: none;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

section:nth-of-type(even) figure {
    float: left;
    margin-left: 0;
    font-style: italic;
    font-size: 0.8em;
    color: rgb(199, 198, 198);
}

section:nth-of-type(odd) figure {
    float: right;
    margin-right: 0;
    padding: 5px;
    font-style: italic;
    font-size: 0.8em;
    color: rgb(199, 198, 198);
}

figure img {
    border-radius: 0.3em;
    width: 70vw;
}


/* Background Circles */


/* background circles are created with psuedo elements before and after */


/* Circles appear to be random do to use of :nth-of-type psuedo class */

section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */


/* Section Active Styles */


/* The active-class class is applied through javascript.  */

section.active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}


/* Section Active Styles Keyframe Animations */

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}


/*  my addition for larger screens */

@media(min-width: 700px) {
    h2 {
        font-size: 3em;
    }
    .brand,
    #brand {
        font-size: 2em;
        margin: 0;
        padding-left: 2vw;
    }
    .navbar__menu li {
        display: inline-block;
        color: #fff;
        padding: 0em 1em;
        margin: 0em 1em 0.2em 0em;
        background-color: rgba(91, 112, 83, 0.589);
        border-radius: 0.3em;
    }
    figure img {
        width: 30vw;
    }
    .image-src,
    .source {
        display: block;
    }
}